*{
    scroll-behavior: smooth;
}
/* reset & common styles */
body, ul, h1, h2, h3, p, button, a, div{
    margin: 0;
    padding: 0;
    color: white;
    /* letter-spacing: 2px; */
    list-style-type: none;
    text-decoration: none;
    /* z-index: -1; */
}

:root{
    --color-light: rgb(123, 197, 240);
}

.App{
    min-height: 100vh;
    width: 100%;
    /* background: #39445a; */
    background: rgb(2, 0, 2,.9);
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
}

@media (max-width: 700px) {
    .App{
        padding-top: 85px;
        width: 100%;
    }
}

.main-nav{
    width: 500;
    position: 'fixed';
    background-color: '#2d313a';
    bottom: 0;
    z-index: 100
}

/* Head Styling */
.pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    color: rgb(178, 202, 211);
    
}
@media (max-width: 1000px) {
    .pageTitle {
        font-size: 6.4vw;
    }
}

